.caja-uno{
    background-color: blue;
    /* width */
    width: 250px;
    /* alto */
    height: 150px;

    /* position relative */
    position: relative;
    /* top: 55px;
    right: 10px;
    left: 150px;
    bottom: -50px; */
}

img{
    width: 50px;
    

    position: fixed;
    right: 25px;
    /* top: 20px; */
    bottom: 25px;
}

.caja-tres{
    background-color: yellow;
    width: 150px;
    height: 200px;
    position: sticky;
    top: 10px;
}